.btn-outline-purple {
    color: #a370f7;
}

.btn-outline-purple:hover {
    color: white;
    background-color: #a370f7;
}

.btn-purple {
    color: white;
    background-color: #a370f7;
}

.btn-purple:hover {
    color: white;
    background-color: #bf97ff;
}